@import "column";
@import "form";
@import "button";

$beige: #c7c4a8;

body{
  font-family: 'Oswald', sans-serif;
  background: $beige;
}
.content{
  margin-top: 50px;
}
.test-block, .test-block-admin {
  display: none;
  &:first-of-type {
    display: block;
  }
}