@import "column";
@import "form";
@import "button";

$beige: #c7c4a8;

body{
  font-family: 'Oswald', sans-serif;
  background: $beige;
  height: 100%;
}
.header_nav{
  height: 71px;
  padding-top: 13px;
  border-radius: 0;
}
.content{
  margin-top: -21px;
}
.test-contant{
  padding-top: 15px;
}
.test-block, .test-block-admin {
  display: none;
  &:first-of-type {
    display: block;
  }
}
.upperCase{
  text-transform: uppercase;
}