/* line 23, ../sass/button.scss */
.buttonNavDelete {
  position: absolute;
  top: 10px;
  left: 85%;
  cursor: pointer;
  color: #6b604b;
}

/* line 31, ../sass/button.scss */
.button-thema-test {
  background: #37322f;
  border: none;
  color: #B3AE84;
  width: 186px;
  height: 40px;
  margin-left: 11px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.34902);
}
/* line 41, ../sass/button.scss */
.button-thema-test:hover {
  background: #302927;
  color: #a29d88;
}

/* line 46, ../sass/button.scss */
.editTitle {
  position: relative;
  float: right;
  font-size: 20px;
  color: #675652;
  cursor: pointer;
  top: -83px;
  left: -13px;
}

/* line 49, ../sass/button.scss */
.editQuestion {
  position: relative;
  float: right;
  font-size: 20px;
  color: #675652;
  cursor: pointer;
  top: -35px;
  left: -13px;
}

/* line 53, ../sass/button.scss */
.passTest {
  background: #339900;
  text-transform: uppercase;
  width: 260px;
  height: 82px;
  border-radius: 10px;
}

/* line 62, ../sass/button.scss */
.test-block-admin .nextTestAdmin {
  background: none;
  border: none;
  font-size: 70px;
  position: relative;
  top: 57px;
  left: 94%;
}
/* line 65, ../sass/button.scss */
.test-block-admin .prevTestAdmin {
  background: none;
  border: none;
  font-size: 70px;
  position: relative;
  top: 57px;
  left: -46px;
}
/* line 73, ../sass/button.scss */
.test-block-admin .nextTestAdminSecond {
  background: none;
  border: none;
  font-size: 70px;
  position: relative;
  top: 57px;
  left: 90%;
}

/* line 79, ../sass/button.scss */
.statistics .addLinkButton {
  background: #a9a58e;
  margin-top: 15px;
  border-radius: 18px;
  border: 1px solid #7c7768;
  color: #675652;
  font-size: 13px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 24px;
}

/* line 91, ../sass/button.scss */
.addQuestionButton {
  position: relative;
  float: right;
  font-size: 20px;
  color: #675652;
  cursor: pointer;
  top: -100px;
  left: -22px;
  color: #7e7a6b;
  font-size: 35px;
}

/* line 98, ../sass/button.scss */
.footer-error button {
  color: #C7C4A8;
  background: #675652;
  border: none;
  font-size: 9px;
  padding: 10px;
  font-weight: 400;
  position: relative;
  top: -4px;
  left: 11px;
  border-radius: 0 5px 5px 0;
}
