/* line 38, ../sass/form.scss */
.column-basic .test-block-admin .radio {
  display: none;
}
/* line 41, ../sass/form.scss */
.column-basic .test-block-admin .radio:checked + span {
  color: green;
}

/* line 46, ../sass/form.scss */
.label-radio {
  margin-bottom: 3px;
}

/* line 49, ../sass/form.scss */
.radio {
  opacity: 0;
  position: absolute;
}

/* line 53, ../sass/form.scss */
.radio + span {
  width: 17px;
  height: 17px;
  border-radius: 12px;
  position: relative;
  top: 6px;
}

/* line 56, ../sass/form.scss */
.radio:checked + span {
  color: green;
}

/* line 60, ../sass/form.scss */
.radio + div {
  background: black;
  width: 17px;
  height: 17px;
  border-radius: 12px;
  position: relative;
  top: 6px;
}

/* line 63, ../sass/form.scss */
.radio:checked + div {
  background: green;
}

/* line 67, ../sass/form.scss */
.test-create {
  margin-top: -15px;
}
/* line 69, ../sass/form.scss */
.test-create .create-test_thema {
  width: 100%;
  padding: 0 30px 0 25px;
}
/* line 73, ../sass/form.scss */
.test-create .test-create_themaForm {
  font-size: 20px;
  width: 100%;
  color: #675652;
  border: none;
  font-family: 'Oswald Light', 'Oswald Regular', 'Oswald', serif;
  font-weight: 300;
  border-bottom: 1px solid #675652;
  background: none;
  outline: none;
}
/* line 77, ../sass/form.scss */
.test-create .test-create_themaForm::placeholder {
  color: #675652;
}
/* line 81, ../sass/form.scss */
.test-create .test-create_questionForm {
  color: #675652;
  border: none;
  font-family: 'Oswald Light', 'Oswald Regular', 'Oswald', serif;
  font-weight: 300;
  border-bottom: 1px solid #675652;
  background: none;
  outline: none;
}
/* line 84, ../sass/form.scss */
.test-create .test-create_answerForm {
  color: #675652;
  border: none;
  font-family: 'Oswald Light', 'Oswald Regular', 'Oswald', serif;
  font-weight: 300;
  border-bottom: 1px solid #675652;
  background: none;
  outline: none;
  width: 72%;
  margin-left: -21px;
  margin-right: 11px;
  font-size: 14px;
}
/* line 91, ../sass/form.scss */
.test-create .test-create_fileInput {
  margin-left: -20px;
  margin-top: 10px;
}
/* line 94, ../sass/form.scss */
.test-create .test-create_fileInput input {
  display: none;
}
/* line 97, ../sass/form.scss */
.test-create .test-create_fileInput img {
  width: 87px;
  height: 97px;
}
/* line 101, ../sass/form.scss */
.test-create .test-create_fileInput span {
  position: relative;
  top: -54px;
  left: 18px;
  font-size: 13px;
  color: #675652;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 102, ../sass/form.scss */
.test-create .test-create_fileInput span:nth-child(3) {
  top: -34px;
  left: -27px;
}
/* line 115, ../sass/form.scss */
.test-create .test-create-question {
  background: #d7d5c2;
  padding: 15px;
  padding-left: 30px;
  padding-bottom: 28px;
  margin-top: 20px;
  border-radius: 6px;
}
/* line 122, ../sass/form.scss */
.test-create .test-create-question .test-create-questionInput {
  color: #675652;
  font-size: 22px;
  font-weight: 500;
}
/* line 126, ../sass/form.scss */
.test-create .test-create-question .test-create-questionInput label {
  margin-right: 20px;
}
/* line 129, ../sass/form.scss */
.test-create .test-create-question .test-create-questionInput input {
  font-size: 18px;
  width: 386px;
}

/* line 139, ../sass/form.scss */
.statistics .form-search .form-search-icon {
  color: #a29d88;
  background: none;
  border: none;
  z-index: 1;
  position: relative;
  left: 7px;
}
/* line 147, ../sass/form.scss */
.statistics .form-search .form-search-input {
  font-size: 13px;
  margin-left: -25px;
  padding-left: 26px;
  width: 168px;
  height: 29px;
  z-index: 0;
  font-family: 'Oswald ExtraLight', 'Oswald Regular', 'Oswald', serif;
  background: #d2d0ba;
  border: 1px solid #a29d88;
}

/* line 162, ../sass/form.scss */
#modal-editQuestion .update-time {
  margin-top: -12px;
}
/* line 164, ../sass/form.scss */
#modal-editQuestion .update-time .control-operator {
  float: left;
  margin-top: 0;
}
/* line 168, ../sass/form.scss */
#modal-editQuestion .update-time .field-thema-minute, #modal-editQuestion .update-time .field-thema-second {
  margin-bottom: 0;
}
/* line 170, ../sass/form.scss */
#modal-editQuestion .update-time .field-thema-minute input, #modal-editQuestion .update-time .field-thema-second input {
  float: left;
  margin-top: 0;
}

/* line 179, ../sass/form.scss */
.footer-error input {
  background: inherit;
  padding: 8px 21px 9px 15px;
  border: 1px solid;
  position: relative;
  top: -4px;
  left: 10px;
  border-right: none;
  font-size: 9px;
  color: #675652;
  border-radius: 14px 0 0 14px;
}
/* line 190, ../sass/form.scss */
.footer-error input::-webkit-input-placeholder {
  color: #675652;
}
/* line 193, ../sass/form.scss */
.footer-error input:focus {
  outline: none;
}

/* line 199, ../sass/form.scss */
.test-create-question_page {
  margin-top: 15px;
}
