/* line 9, ../sass/form.scss */
.column-basic .test-block-admin .radio {
  display: none;
}
/* line 12, ../sass/form.scss */
.column-basic .test-block-admin .radio:checked + span {
  color: green;
}

/* line 17, ../sass/form.scss */
.radio {
  opacity: 0;
  position: absolute;
}

/* line 21, ../sass/form.scss */
.radio:checked + span {
  color: green;
}

/* line 26, ../sass/form.scss */
.statistics .form-search .form-search-icon {
  color: #a29d88;
  background: none;
  border: none;
  z-index: 1;
  position: relative;
  left: 7px;
}
/* line 34, ../sass/form.scss */
.statistics .form-search .form-search-input {
  font-size: 13px;
  margin-left: -25px;
  padding-left: 26px;
  width: 168px;
  height: 29px;
  z-index: 0;
  font-family: 'Oswald ExtraLight', 'Oswald Regular', 'Oswald', serif;
  background: #d2d0ba;
  border: 1px solid #a29d88;
}
/* line 45, ../sass/form.scss */
.statistics .form-search .form-search-button {
  width: 71px;
  height: 29px;
  line-height: 11px;
  background: #7c7768;
  margin-right: 23px;
  font-size: 13px;
  color: #C7C4A8;
}

/* line 58, ../sass/form.scss */
.footer-error input {
  background: inherit;
  padding: 8px 21px 9px 15px;
  border: 1px solid;
  position: relative;
  top: -4px;
  left: 10px;
  border-right: none;
  font-size: 9px;
  color: #675652;
  border-radius: 14px 0 0 14px;
}
/* line 69, ../sass/form.scss */
.footer-error input::-webkit-input-placeholder {
  color: #675652;
}
/* line 72, ../sass/form.scss */
.footer-error input:focus {
  outline: none;
}

/* line 78, ../sass/form.scss */
.test-create-question_page {
  margin-top: 15px;
}
