@font-face {
  font-family: 'GOST type B Standard';
  src: url("../fonts/GOST type B.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
/* line 25, ../sass/column.scss */
.test-adminTest, .site-index, .site-post {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  margin-left: -4%;
}
/* line 30, ../sass/column.scss */
.test-adminTest .result, .site-index .result, .site-post .result {
  background: #272120;
  color: wheat;
  border-radius: 8px;
}

/* line 37, ../sass/column.scss */
.navBar-Thema {
  background: #544f46;
  flex-grow: 1;
}
/* line 40, ../sass/column.scss */
.navBar-Thema .navigation-menu {
  border-radius: 0;
  border-bottom: 0.1px solid #5f5a4f;
  width: 112%;
  margin-left: -6%;
}
/* line 45, ../sass/column.scss */
.navBar-Thema .navigation-menu:hover {
  border-bottom: none;
}
/* line 48, ../sass/column.scss */
.navBar-Thema .navigation-menu a {
  padding-left: 11%;
  font-size: 13px;
}
/* line 53, ../sass/column.scss */
.navBar-Thema h3 {
  margin-left: 13px;
  color: #ffffff;
  font-size: 18px;
  border-bottom: none;
  margin-bottom: 15px;
}
/* line 60, ../sass/column.scss */
.navBar-Thema a {
  color: #BCBCBC;
  line-height: 15px;
}
/* line 63, ../sass/column.scss */
.navBar-Thema a:hover {
  color: #cccccc;
  border-radius: 0;
}
/* line 67, ../sass/column.scss */
.navBar-Thema a:active {
  color: #746a4f;
}
/* line 71, ../sass/column.scss */
.navBar-Thema .nav > li > a:hover, .navBar-Thema .nav > li > a:focus {
  background-color: #4d4840;
}
/* line 74, ../sass/column.scss */
.navBar-Thema .nav-pills > li.active > a, .navBar-Thema .nav-pills > li.active > a:hover, .navBar-Thema .nav-pills > li.active > a:focus {
  background-color: #453e3a;
  color: #B3AE84;
}

/* line 79, ../sass/column.scss */
.column-basic {
  flex-grow: 1;
}
/* line 81, ../sass/column.scss */
.column-basic .question-one {
  margin-top: 68px;
}
/* line 84, ../sass/column.scss */
.column-basic .title-test {
  text-transform: uppercase;
}
/* line 87, ../sass/column.scss */
.column-basic .column-basic-condition {
  color: #675652;
  line-height: 6px;
  margin-left: 18px;
  margin-top: 19px;
}
/* line 92, ../sass/column.scss */
.column-basic .column-basic-condition p:first-child {
  font-size: 13px;
  margin-bottom: 15px;
}
/* line 96, ../sass/column.scss */
.column-basic .column-basic-condition p:nth-child(3) {
  line-height: 14px;
  margin-top: -5px;
}
/* line 100, ../sass/column.scss */
.column-basic .column-basic-condition p {
  font-size: 11px;
  line-height: 5px;
}
/* line 105, ../sass/column.scss */
.column-basic h1 {
  margin-left: -15px;
  font-weight: 400;
  font-size: 40px;
  color: #C7C4A8;
  padding: 12px 1px 13px 30px;
  background: #a29d88;
  line-height: 58px;
}
/* line 114, ../sass/column.scss */
.column-basic hr {
  border: 0.5px solid #101010;
}
/* line 118, ../sass/column.scss */
.column-basic .test-block-admin h3 {
  font-size: 28px;
  color: #675652;
  font-weight: bold;
  margin-top: -45px;
}
/* line 124, ../sass/column.scss */
.column-basic .test-block-admin p {
  font-size: 28px;
  font-weight: 400;
  color: #675652;
  line-height: 34px;
}
/* line 130, ../sass/column.scss */
.column-basic .test-block-admin .question-test-admin {
  margin-left: 45px;
}
/* line 133, ../sass/column.scss */
.column-basic .test-block-admin .question-test-admin .question-one button {
  font-size: 13px;
  width: 93px;
  height: 28px;
  color: #C7C4A8;
  font-weight: 400;
  background: rgba(124, 119, 104, 0.49804);
  border: none;
  border-radius: 3px;
  margin-left: 43px;
  position: relative;
  top: -3px;
}
/* line 145, ../sass/column.scss */
.column-basic .test-block-admin .question-test-admin .question-one button:focus {
  outline: none;
}
/* line 150, ../sass/column.scss */
.column-basic .test-block-admin .question-test-admin h3 {
  text-transform: uppercase;
}
/* line 152, ../sass/column.scss */
.column-basic .test-block-admin .question-test-admin h3 span {
  position: relative;
  top: -4px;
}
/* line 155, ../sass/column.scss */
.column-basic .test-block-admin .question-test-admin h3 span button {
  font-size: 13px;
  width: 93px;
  height: 28px;
  color: #C7C4A8;
  font-weight: 400;
  background: rgba(124, 119, 104, 0.49804);
  border: none;
  border-radius: 3px;
  margin-left: 43px;
}
/* line 165, ../sass/column.scss */
.column-basic .test-block-admin .question-test-admin h3 span button:focus {
  outline: none;
}
/* line 171, ../sass/column.scss */
.column-basic .test-block-admin .question-test-admin .radio-answear {
  line-height: 19px;
  margin-bottom: 30px;
  font-weight: 400;
}
/* line 175, ../sass/column.scss */
.column-basic .test-block-admin .question-test-admin .radio-answear .test-admin_question {
  float: left;
  font-size: 16px;
  margin-right: 14px;
  text-transform: uppercase;
}
/* line 181, ../sass/column.scss */
.column-basic .test-block-admin .question-test-admin .radio-answear .test-admin_answer {
  float: left;
  font-size: 16px;
  width: 87%;
}
/* line 187, ../sass/column.scss */
.column-basic .test-block-admin .question-test-admin p {
  padding-right: 45px;
  line-height: 34px;
  margin-bottom: 27px;
}
/* line 192, ../sass/column.scss */
.column-basic .test-block-admin .question-test-admin .answer {
  color: #675652;
  font-size: 16px;
  font-weight: 400;
}
/* line 196, ../sass/column.scss */
.column-basic .test-block-admin .question-test-admin .answer .key-answear {
  margin-right: 10px;
}
/* line 201, ../sass/column.scss */
.column-basic .test-block-admin .test-image {
  margin-bottom: 35px;
  margin-right: 12px;
  margin-left: 10px;
}

/* line 209, ../sass/column.scss */
.statistics {
  margin-top: 20px;
}
/* line 211, ../sass/column.scss */
.statistics .purpose {
  padding: 0 26px 0 19px;
}
/* line 213, ../sass/column.scss */
.statistics .purpose p {
  font-size: 13px;
  color: #675652;
}
/* line 217, ../sass/column.scss */
.statistics .purpose hr {
  width: 103%;
  margin-left: -7px;
  border: 0.5px solid #675652;
  margin-bottom: 6px;
}
/* line 224, ../sass/column.scss */
.statistics .passTest {
  font-size: 30px;
  line-height: 54px;
}
/* line 228, ../sass/column.scss */
.statistics .form-search, .statistics p {
  margin-top: 11px;
}
/* line 231, ../sass/column.scss */
.statistics hr {
  border: 0.5px solid black;
  margin-top: 0;
}
/* line 235, ../sass/column.scss */
.statistics .statistics_appointment {
  font-size: 13px;
}
/* line 237, ../sass/column.scss */
.statistics .statistics_appointment .success {
  color: #339900;
}
/* line 240, ../sass/column.scss */
.statistics .statistics_appointment .error {
  color: #871414;
}
/* line 243, ../sass/column.scss */
.statistics .statistics_appointment .statistics_appointment-icon {
  font-size: 10px;
}
/* line 246, ../sass/column.scss */
.statistics .statistics_appointment .statistics_appointment-date {
  font-size: 10px;
  margin-left: 6px;
  color: #7C7768;
}
/* line 251, ../sass/column.scss */
.statistics .statistics_appointment .statistics_appointment-name {
  margin-left: 10px;
}
/* line 254, ../sass/column.scss */
.statistics .statistics_appointment .statistics_appointment-result {
  float: right;
  font-size: 10px;
  color: #7C7768;
  padding-top: 4px;
}
/* line 261, ../sass/column.scss */
.statistics .statistics-paragraph {
  font-size: 13px;
  color: #675652;
  margin-top: 25px;
}
/* line 265, ../sass/column.scss */
.statistics .statistics-paragraph img {
  margin-left: -33px;
}
/* line 268, ../sass/column.scss */
.statistics .statistics-paragraph .statistics-paragraph-result {
  margin-top: 15px;
}
/* line 270, ../sass/column.scss */
.statistics .statistics-paragraph .statistics-paragraph-result:nth-child(4) {
  margin-bottom: 30px;
}
/* line 273, ../sass/column.scss */
.statistics .statistics-paragraph .statistics-paragraph-result .statistics-paragraph-interest {
  font-size: 11px;
  line-height: 6px;
  text-align: right;
}
/* line 274, ../sass/column.scss */
.statistics .statistics-paragraph .statistics-paragraph-result .statistics-paragraph-interest table {
  font-size: 11px;
  margin-top: 13px;
  width: 128%;
}
/* line 278, ../sass/column.scss */
.statistics .statistics-paragraph .statistics-paragraph-result .statistics-paragraph-interest table tr {
  text-align: left;
  line-height: 13px;
}
/* line 280, ../sass/column.scss */
.statistics .statistics-paragraph .statistics-paragraph-result .statistics-paragraph-interest table tr .table-errors {
  text-align: right;
  color: #7C7768;
}
/* line 284, ../sass/column.scss */
.statistics .statistics-paragraph .statistics-paragraph-result .statistics-paragraph-interest table tr .table-percent {
  font-size: 10px;
  color: #7C7768;
  padding-left: 8px;
}
/* line 295, ../sass/column.scss */
.statistics .statistics-paragraph .statistics-paragraph-result .statistics-paragraph-interest .statistics-paragraph-interest_title {
  font-size: 11px;
  margin-bottom: 20px;
  margin-top: 0;
  width: 119%;
}

/* line 306, ../sass/column.scss */
.recomendation {
  margin-bottom: 100px;
}

/* line 310, ../sass/column.scss */
.test-testing {
  font-size: 24px;
  color: #312927;
  margin-bottom: 50px;
}
/* line 315, ../sass/column.scss */
.test-testing .test-block .progress {
  margin-top: 24px;
  margin-right: 15%;
  margin-left: 26.2%;
  background: transparent;
  border: 2px solid #7C7768;
  border-radius: 0 50px 50px 0;
  height: 28px;
}
/* line 323, ../sass/column.scss */
.test-testing .test-block .progress .progress-bar {
  color: #7C7768;
  background: #7C7768;
}
/* line 326, ../sass/column.scss */
.test-testing .test-block .progress .progress-bar .progress-test_info {
  position: relative;
  width: 666px;
  font-size: 11px;
  margin-top: 2px;
  text-transform: uppercase;
  color: #7C7768;
}
/* line 336, ../sass/column.scss */
.test-testing .test-block .test-block-question {
  margin-right: 15%;
  margin-left: 26.2%;
  text-align: left;
  margin-top: 15px;
}
/* line 342, ../sass/column.scss */
.test-testing .test-block .test-block-answer {
  margin-top: 20px;
  margin-left: 26.1%;
  margin-right: 15%;
}
/* line 347, ../sass/column.scss */
.test-testing .test-block hr {
  width: 90%;
  margin-left: -63px;
  border: 1px solid;
}
/* line 352, ../sass/column.scss */
.test-testing .test-block .test-block-images {
  margin-left: 25%;
  margin-right: 16%;
}
/* line 355, ../sass/column.scss */
.test-testing .test-block .test-block-images div {
  margin-bottom: 5px;
}
/* line 357, ../sass/column.scss */
.test-testing .test-block .test-block-images div img {
  border-radius: 2px;
}

/* line 365, ../sass/column.scss */
.footer {
  font-size: 18px;
  background: #312927;
  border-top: none;
  height: 145px;
  color: #675652;
  padding-top: 33px;
}
/* line 372, ../sass/column.scss */
.footer .footer-rights {
  font-size: 26px;
}
/* line 375, ../sass/column.scss */
.footer img {
  float: left;
}
/* line 378, ../sass/column.scss */
.footer .text-footer {
  font-size: 11px;
  position: relative;
  top: 16px;
  left: -83px;
}
/* line 385, ../sass/column.scss */
.footer .footer-error img {
  margin-right: 14px;
}
/* line 388, ../sass/column.scss */
.footer .footer-error .footer-text_errors {
  padding-left: 77px;
  text-align: right;
  font-size: 11px;
  margin-right: 11%;
}
/* line 396, ../sass/column.scss */
.footer .footer-contact img {
  margin-right: 20px;
}
/* line 399, ../sass/column.scss */
.footer .footer-contact .phone {
  font-weight: bold;
  font-size: 33px;
  line-height: 29px;
}
/* line 404, ../sass/column.scss */
.footer .footer-contact .footer-contact_text {
  font-size: 11px;
  margin-top: 4px;
}

/* line 411, ../sass/column.scss */
.salary-employee .table-salary_employee {
  width: 241px;
}

/* line 417, ../sass/column.scss */
#create-depreming button {
  margin-top: 10px;
}

/* line 423, ../sass/column.scss */
.salary-index .panel {
  margin-bottom: 7px;
}

/* line 429, ../sass/column.scss */
.user-view .panel {
  background: #312927;
  color: #999992;
  height: 129px;
}
/* line 433, ../sass/column.scss */
.user-view .panel .action-contact, .user-view .panel .action-info {
  float: right;
  position: relative;
  right: 0;
  top: 18px;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease;
}
/* line 438, ../sass/column.scss */
.user-view .panel .save-contact, .user-view .panel .save-info {
  float: right;
  position: relative;
  right: 10px;
  top: 18px;
  cursor: pointer;
}
/* line 441, ../sass/column.scss */
.user-view .panel:hover {
  box-shadow: 0 0 20px 1px #867f7f;
}
/* line 443, ../sass/column.scss */
.user-view .panel:hover .action-contact, .user-view .panel:hover .action-info {
  right: 10px;
  opacity: 1;
}
/* line 448, ../sass/column.scss */
.user-view .panel p {
  text-align: center;
  font-size: 19px;
}
/* line 454, ../sass/column.scss */
.user-view .employee-table .employee-table_label {
  width: 65px;
}
/* line 458, ../sass/column.scss */
.user-view .employee-test {
  margin-left: 63px;
}
/* line 460, ../sass/column.scss */
.user-view .employee-test h3 {
  text-align: center;
}
/* line 463, ../sass/column.scss */
.user-view .employee-test .employee-test-label {
  float: left;
}
/* line 466, ../sass/column.scss */
.user-view .employee-test .employee-test_rating {
  position: relative;
  left: 57px;
}
/* line 470, ../sass/column.scss */
.user-view .employee-test .appoint-table {
  height: 103px;
}
/* line 473, ../sass/column.scss */
.user-view .employee-test .appoint-table .appointment-list .appointment-employee div {
  width: 195px;
  float: left;
}
/* line 479, ../sass/column.scss */
.user-view .employee-test .appoint-table .appoint-table_label {
  text-align: center;
}
/* line 485, ../sass/column.scss */
.user-view .appoint-panel {
  height: 151px;
}

/* line 38, ../sass/form.scss */
.column-basic .test-block-admin .radio {
  display: none;
}
/* line 41, ../sass/form.scss */
.column-basic .test-block-admin .radio:checked + span {
  color: green;
}

/* line 46, ../sass/form.scss */
.label-radio {
  margin-bottom: 3px;
}

/* line 49, ../sass/form.scss */
.radio {
  opacity: 0;
  position: absolute;
}

/* line 53, ../sass/form.scss */
.radio + span {
  width: 17px;
  height: 17px;
  border-radius: 12px;
  position: relative;
  top: 6px;
}

/* line 56, ../sass/form.scss */
.radio:checked + span {
  color: green;
}

/* line 60, ../sass/form.scss */
.radio + div {
  background: black;
  width: 17px;
  height: 17px;
  border-radius: 12px;
  position: relative;
  top: 6px;
}

/* line 63, ../sass/form.scss */
.radio:checked + div {
  background: green;
}

/* line 67, ../sass/form.scss */
.test-create {
  margin-top: -15px;
}
/* line 69, ../sass/form.scss */
.test-create .create-test_thema {
  width: 100%;
  padding: 0 30px 0 25px;
}
/* line 73, ../sass/form.scss */
.test-create .test-create_themaForm {
  font-size: 20px;
  width: 100%;
  color: #675652;
  border: none;
  font-family: 'Oswald Light', 'Oswald Regular', 'Oswald', serif;
  font-weight: 300;
  border-bottom: 1px solid #675652;
  background: none;
  outline: none;
}
/* line 77, ../sass/form.scss */
.test-create .test-create_themaForm::placeholder {
  color: #675652;
}
/* line 81, ../sass/form.scss */
.test-create .test-create_questionForm {
  color: #675652;
  border: none;
  font-family: 'Oswald Light', 'Oswald Regular', 'Oswald', serif;
  font-weight: 300;
  border-bottom: 1px solid #675652;
  background: none;
  outline: none;
}
/* line 84, ../sass/form.scss */
.test-create .test-create_answerForm {
  color: #675652;
  border: none;
  font-family: 'Oswald Light', 'Oswald Regular', 'Oswald', serif;
  font-weight: 300;
  border-bottom: 1px solid #675652;
  background: none;
  outline: none;
  width: 72%;
  margin-left: -21px;
  margin-right: 11px;
  font-size: 14px;
}
/* line 91, ../sass/form.scss */
.test-create .test-create_fileInput {
  margin-left: -20px;
  margin-top: 10px;
}
/* line 94, ../sass/form.scss */
.test-create .test-create_fileInput input {
  display: none;
}
/* line 97, ../sass/form.scss */
.test-create .test-create_fileInput img {
  width: 87px;
  height: 97px;
}
/* line 101, ../sass/form.scss */
.test-create .test-create_fileInput span {
  position: relative;
  top: -54px;
  left: 18px;
  font-size: 13px;
  color: #675652;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 102, ../sass/form.scss */
.test-create .test-create_fileInput span:nth-child(3) {
  top: -34px;
  left: -27px;
}
/* line 115, ../sass/form.scss */
.test-create .test-create-question {
  background: #d7d5c2;
  padding: 15px;
  padding-left: 30px;
  padding-bottom: 28px;
  margin-top: 20px;
  border-radius: 6px;
}
/* line 122, ../sass/form.scss */
.test-create .test-create-question .test-create-questionInput {
  color: #675652;
  font-size: 22px;
  font-weight: 500;
}
/* line 126, ../sass/form.scss */
.test-create .test-create-question .test-create-questionInput label {
  margin-right: 20px;
}
/* line 129, ../sass/form.scss */
.test-create .test-create-question .test-create-questionInput input {
  font-size: 18px;
  width: 386px;
}

/* line 139, ../sass/form.scss */
.statistics .form-search .form-search-icon {
  color: #a29d88;
  background: none;
  border: none;
  z-index: 3;
  position: relative;
  left: 7px;
}
/* line 147, ../sass/form.scss */
.statistics .form-search .select2-selection {
  font-size: 13px;
  margin-left: -25px;
  padding-left: 26px;
  width: 168px;
  height: 29px;
  z-index: 1;
  font-family: 'Oswald ExtraLight', 'Oswald Regular', 'Oswald', serif;
  background: #d2d0ba;
  border: 1px solid #a29d88;
}
/* line 157, ../sass/form.scss */
.statistics .form-search .select2-selection .select2-selection__arrow {
  display: none;
}

/* line 165, ../sass/form.scss */
#modal-editQuestion .update-time {
  margin-top: -12px;
}
/* line 167, ../sass/form.scss */
#modal-editQuestion .update-time .control-operator {
  float: left;
  margin-top: 0;
}
/* line 171, ../sass/form.scss */
#modal-editQuestion .update-time .field-thema-minute, #modal-editQuestion .update-time .field-thema-second {
  margin-bottom: 0;
}
/* line 173, ../sass/form.scss */
#modal-editQuestion .update-time .field-thema-minute input, #modal-editQuestion .update-time .field-thema-second input {
  float: left;
  margin-top: 0;
}

/* line 182, ../sass/form.scss */
.footer-error input {
  background: inherit;
  padding: 8px 21px 9px 15px;
  border: 1px solid;
  position: relative;
  top: -4px;
  left: 10px;
  border-right: none;
  font-size: 9px;
  color: #675652;
  border-radius: 14px 0 0 14px;
}
/* line 193, ../sass/form.scss */
.footer-error input::-webkit-input-placeholder {
  color: #675652;
}
/* line 196, ../sass/form.scss */
.footer-error input:focus {
  outline: none;
}

/* line 202, ../sass/form.scss */
.test-create-question_page {
  margin-top: 15px;
}

/* line 207, ../sass/form.scss */
.user-form .build-name, .user-form .street-name, .user-form .city-name {
  display: none;
}

/* line 213, ../sass/form.scss */
.salary-index input[type=radio]:checked + label {
  color: green;
}
/* line 216, ../sass/form.scss */
.salary-index input[type=radio] {
  opacity: 0;
}

/* line 52, ../sass/button.scss */
.header .header-completion {
  float: right;
  margin-right: 227px;
}
/* line 55, ../sass/button.scss */
.header .header-completion .headerCRM {
  width: 157px;
  text-transform: uppercase;
  margin-right: -57px;
  margin-left: 43px;
}
/* line 62, ../sass/button.scss */
.header .headerCRM {
  margin-left: 27px;
  width: 82px;
  height: 37px;
  margin-top: 18px;
  background: #453e3a;
  padding-left: 12px;
  text-decoration: none;
  color: #999992;
  font-size: 14px;
}
/* line 63, ../sass/button.scss */
.header .headerCRM i {
  margin-right: 6px;
  position: relative;
  top: -11px;
  color: #262020;
}
/* line 69, ../sass/button.scss */
.header .headerCRM span {
  position: relative;
  top: -15px;
}
/* line 82, ../sass/button.scss */
.header .headerCRM:hover {
  color: #B3AE84;
}
/* line 84, ../sass/button.scss */
.header .headerCRM:hover i {
  color: #B3AE84;
}
/* line 88, ../sass/button.scss */
.header .headerCRM:active {
  background: #B3AE84;
  color: #262020;
}
/* line 91, ../sass/button.scss */
.header .headerCRM:active i {
  color: #262020;
}
/* line 96, ../sass/button.scss */
.header .circle {
  width: 31px;
  height: 31px;
  color: white;
  float: left;
  margin-left: 10%;
  background: #453e3a;
  margin-top: 20px;
  border-radius: 15px;
}
/* line 105, ../sass/button.scss */
.header .circle i {
  position: relative;
  top: -23px;
  left: 9px;
  font-size: 15px;
  color: #545250;
}
/* line 111, ../sass/button.scss */
.header .circle i:hover {
  color: #B3AE84;
}
/* line 117, ../sass/button.scss */
.header .header-logout button {
  margin-left: 21px;
  background: none;
  color: #999992;
}
/* line 121, ../sass/button.scss */
.header .header-logout button:hover {
  color: #B3AE84;
  border-bottom: 1px solid #B3AE84;
  border-radius: 0;
}

/* line 131, ../sass/button.scss */
.form-search .form-search-button {
  width: 71px;
  height: 29px;
  line-height: 11px;
  padding-left: 9px;
  background: #7c7768;
  margin-right: 23px;
  font-size: 13px;
  color: #C7C4A8;
}

/* line 144, ../sass/button.scss */
.test-block label {
  float: left;
  width: 324px;
  height: 68px;
  padding-top: 22px;
  text-align: center;
  font-weight: 400;
  border: 2px solid #453E3A;
  font-size: 16px;
  margin-bottom: 10px;
}
/* line 154, ../sass/button.scss */
.test-block label:nth-child(even) {
  margin-left: 17px;
}
/* line 157, ../sass/button.scss */
.test-block label:hover {
  border: 2px solid green;
  color: green;
}
/* line 162, ../sass/button.scss */
.test-block input {
  opacity: 0;
}

/* line 166, ../sass/button.scss */
.answerButton {
  display: none;
}

/* line 170, ../sass/button.scss */
.buttonNavDelete {
  position: absolute;
  top: 10px;
  left: 85%;
  cursor: pointer;
  color: #6b604b;
}

/* line 178, ../sass/button.scss */
.button-thema-test {
  background: #37322f;
  border: none;
  color: #B3AE84;
  width: 186px;
  height: 40px;
  margin-left: 11px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.34902);
  font-size: 13px;
}
/* line 45, ../sass/button.scss */
.button-thema-test:hover {
  background: #302927;
  color: #a29d88;
}

/* line 182, ../sass/button.scss */
.editTitle {
  position: relative;
  float: right;
  font-size: 20px;
  color: #675652;
  cursor: pointer;
  top: -83px;
  left: -13px;
}

/* line 185, ../sass/button.scss */
.editQuestion {
  position: relative;
  float: right;
  font-size: 20px;
  color: #675652;
  cursor: pointer;
  top: -35px;
  left: -13px;
}

/* line 188, ../sass/button.scss */
.edit-condition {
  position: relative;
  float: right;
  font-size: 20px;
  color: #675652;
  cursor: pointer;
  top: -26px;
  left: 22px;
}

/* line 192, ../sass/button.scss */
.passTest {
  background: #339900;
  text-transform: uppercase;
  width: 260px;
  height: 82px;
  border-radius: 10px;
}
/* line 198, ../sass/button.scss */
.passTest:hover {
  background: #2f9100;
}

/* line 204, ../sass/button.scss */
.test-block-admin .nextTestAdmin {
  background: none;
  border: none;
  font-size: 70px;
  position: relative;
  top: 57px;
  left: 94%;
}
/* line 207, ../sass/button.scss */
.test-block-admin .prevTestAdmin {
  background: none;
  border: none;
  font-size: 70px;
  position: relative;
  top: 57px;
  left: -46px;
}
/* line 215, ../sass/button.scss */
.test-block-admin .nextTestAdminSecond {
  background: none;
  border: none;
  font-size: 70px;
  position: relative;
  top: 57px;
  left: 90%;
}

/* line 221, ../sass/button.scss */
.statistics .addLinkButton {
  background: #a9a58e;
  margin-top: 15px;
  border-radius: 18px;
  border: 1px solid #7c7768;
  color: #675652;
  font-size: 13px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 24px;
}

/* line 233, ../sass/button.scss */
.addQuestionButton {
  position: relative;
  float: right;
  font-size: 20px;
  color: #675652;
  cursor: pointer;
  top: -100px;
  left: -22px;
  color: #7e7a6b;
  font-size: 35px;
}

/* line 240, ../sass/button.scss */
.create-test_control button {
  width: 116px;
  height: 31px;
  margin-left: 354px;
  margin-top: 9px;
  background: #7c7768;
  border: none;
  color: #B3AE84;
  outline: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.35);
}
/* line 253, ../sass/button.scss */
.create-test_control button:hover {
  background: #312927;
}
/* line 256, ../sass/button.scss */
.create-test_control button:active {
  background: #7a7667;
  color: black;
}

/* line 264, ../sass/button.scss */
.test-create .closeModal {
  width: 220px;
  height: 52px;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  border: none;
  outline: none;
  margin-left: 32px;
  background: #871414;
  color: #ffffff;
}
/* line 269, ../sass/button.scss */
.test-create .closeModal:hover {
  background: #37322f;
  color: #B3AE84;
}
/* line 274, ../sass/button.scss */
.test-create .createTest-modal {
  width: 220px;
  height: 52px;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  border: none;
  outline: none;
  margin-left: 7px;
  background: #37322f;
  color: #B3AE84;
}
/* line 279, ../sass/button.scss */
.test-create .createTest-modal:hover {
  background: #312927;
}
/* line 282, ../sass/button.scss */
.test-create .createTest-modal:active {
  background: #7a7667;
  color: black;
}

/* line 290, ../sass/button.scss */
#modal-editQuestion button, #form-condition button {
  width: 220px;
  height: 52px;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  border: none;
  outline: none;
  margin-left: 55%;
  background: #37322f;
  color: #B3AE84;
}

/* line 298, ../sass/button.scss */
.modal-result_button {
  background: #37322f;
  border: none;
  color: #B3AE84;
  width: 186px;
  height: 40px;
  margin-left: 11px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.34902);
  width: 119px;
  height: 52px;
  font-size: 16px;
  padding-top: 14px;
  margin-top: 11px;
}
/* line 45, ../sass/button.scss */
.modal-result_button:hover {
  background: #302927;
  color: #a29d88;
}

/* line 309, ../sass/button.scss */
.footer-error button {
  color: #C7C4A8;
  background: #675652;
  border: none;
  font-size: 9px;
  padding: 10px;
  font-weight: 400;
  position: relative;
  top: -4px;
  left: 11px;
  border-radius: 0 5px 5px 0;
}

/* line 325, ../sass/button.scss */
.depreming .depreming-panel .delete-depreming {
  position: relative;
  left: 49px;
  opacity: 0;
  cursor: pointer;
  transition: all .3s ease;
  color: #da6565;
}
/* line 334, ../sass/button.scss */
.depreming .depreming-panel:hover .delete-depreming {
  left: 20px;
  opacity: 1;
}

/* line 10, ../sass/modal.scss */
.modal-dialog {
  border-radius: 0 32px 0 32px;
  width: 575px;
  border: 4px solid #4a42348c;
}

/* line 14, ../sass/modal.scss */
.modal-header {
  font-size: 30px;
  color: #675652;
  font-weight: 500;
  font-family: 'Oswald Medium', 'Oswald Regular', 'Oswald', serif;
  border-bottom: 1px solid #675652;
  text-transform: uppercase;
  width: 86%;
  padding-left: 0;
  padding-bottom: 0;
  margin-left: 38px;
}
/* line 25, ../sass/modal.scss */
.modal-header .close {
  display: none;
}

/* line 29, ../sass/modal.scss */
.modal-content {
  border-radius: 0 32px 0 32px;
  width: 575px;
  background: #C7C4AA;
}

/* line 33, ../sass/modal.scss */
.create-test_control {
  padding-left: 33px;
  padding-right: 42px;
}
/* line 36, ../sass/modal.scss */
.create-test_control hr {
  border: 0.5px solid #787878;
  margin-top: 7px;
  margin-bottom: 15px;
  width: 100%;
}
/* line 41, ../sass/modal.scss */
.create-test_control hr:nth-child(5) {
  margin-top: 60px;
}
/* line 45, ../sass/modal.scss */
.create-test_control p {
  font-size: 18px;
}
/* line 48, ../sass/modal.scss */
.create-test_control input {
  width: 42px;
  height: 29px;
  font-size: 19px;
  font-weight: 700;
  font-family: 'GOST type B Standard Bold', 'GOST type B Standard', serif;
  border-radius: 1px;
  background: #d8d6c2;
  padding-left: 3px;
  border: 2px solid #7c7768;
  color: #7C7768;
  outline: none;
}
/* line 60, ../sass/modal.scss */
.create-test_control input::-webkit-inner-spin-button {
  display: none;
}
/* line 64, ../sass/modal.scss */
.create-test_control .control-operator {
  width: 21px;
  height: 29px;
  text-align: center;
  background: #7c7768;
  color: black;
}

/* line 74, ../sass/modal.scss */
#modalResult .modal-dialog, #modalTerm .modal-dialog {
  height: 340px;
  margin-top: 90px;
}
/* line 78, ../sass/modal.scss */
#modalResult .modal-content, #modalTerm .modal-content {
  height: 332px;
}
/* line 81, ../sass/modal.scss */
#modalResult .modal-header, #modalTerm .modal-header {
  text-align: right;
  margin-left: 54px;
  padding-right: 2px;
}
/* line 87, ../sass/modal.scss */
#modalResult .modal-body .modal-result_title, #modalTerm .modal-body .modal-result_title {
  font-size: 18px;
  text-align: right;
  font-weight: 300;
  font-family: 'Oswald Light', 'Oswald Regular', 'Oswald', serif;
  padding-right: 1px;
}
/* line 95, ../sass/modal.scss */
#modalResult .modal-body .modal-result_test, #modalTerm .modal-body .modal-result_test {
  padding-right: 12px;
}
/* line 98, ../sass/modal.scss */
#modalResult .modal-body .modal-result_information, #modalTerm .modal-body .modal-result_information {
  font-size: 12px;
  font-family: 'Oswald Light', 'Oswald Regular', 'Oswald', serif;
  text-align: right;
  margin-top: 20px;
}
/* line 105, ../sass/modal.scss */
#modalResult .modal-footer, #modalTerm .modal-footer {
  padding-top: 0;
  border-top: 1px solid;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 11px;
  padding-right: 0;
}

/* line 115, ../sass/modal.scss */
.shifts-create {
  padding: 10px;
}

/* line 18, ../sass/index.scss */
body {
  font-family: 'Oswald', sans-serif;
  background: #c7c4a8;
  height: 100%;
}

/* line 23, ../sass/index.scss */
body::after {
  background: url(../images/u2732.png);
  content: "";
  background-repeat: no-repeat;
  background-size: 100% 60%;
  opacity: 0.2;
  position: fixed;
  top: 30%;
  left: 21.5%;
  z-index: -1;
  width: 73%;
  height: 100%;
}

/* line 36, ../sass/index.scss */
.header_nav {
  height: 71px;
  padding-top: 13px;
  border-radius: 0;
}

/* line 41, ../sass/index.scss */
.header {
  height: 71px;
  line-height: 69px;
  background: #312927;
}
/* line 45, ../sass/index.scss */
.header .header-test-logo {
  float: left;
  width: 20%;
  padding-left: 10px;
}
/* line 49, ../sass/index.scss */
.header .header-test-logo .test-title {
  text-transform: uppercase;
}
/* line 52, ../sass/index.scss */
.header .header-test-logo img {
  width: 30px;
  height: 28px;
  margin-right: 9px;
}
/* line 57, ../sass/index.scss */
.header .header-test-logo span {
  font-size: 20px;
  color: #999999;
  position: relative;
  top: 4px;
}
/* line 64, ../sass/index.scss */
.header .header-logo {
  float: left;
  background: #272120;
  width: 20%;
  padding-left: 10px;
}
/* line 69, ../sass/index.scss */
.header .header-logo img {
  width: 30px;
  height: 28px;
  margin-right: 9px;
}
/* line 74, ../sass/index.scss */
.header .header-logo span {
  font-size: 20px;
  color: #999999;
  position: relative;
  top: 4px;
}
/* line 81, ../sass/index.scss */
.header .header-timer {
  float: left;
  width: 115px;
  height: 36px;
  margin-top: 21px;
  margin-left: 6.3%;
  padding-left: 3px;
  color: white;
  background: #7c7768;
}
/* line 90, ../sass/index.scss */
.header .header-timer div {
  float: left;
  font-size: 26px;
  font-family: 'GOST type B Standard Bold', 'GOST type B Standard', serif;
  font-weight: 700;
  background: #7c7768;
  width: 24px;
  height: 29px;
  margin-top: 4px;
  padding: 4px;
  padding-left: 7px;
  margin-right: 2px;
  background: #2a2422;
  color: #7c7768;
}
/* line 104, ../sass/index.scss */
.header .header-timer div:nth-child(3) {
  background: none;
  padding: 0;
  margin-right: -17px;
  color: #2a2422;
}
/* line 110, ../sass/index.scss */
.header .header-timer div span {
  position: relative;
  top: -22px;
}
/* line 116, ../sass/index.scss */
.header .nav > li > a:hover, .header .nav > li > a:focus {
  background: transparent;
  color: #B3AE84;
  border-bottom: 1px solid #73694f;
  border-radius: 0;
}
/* line 122, ../sass/index.scss */
.header .nav > li > a:active, .header .nav > .active > a {
  background: #746a4f;
  color: #272120;
}
/* line 126, ../sass/index.scss */
.header .navbar-header {
  margin-left: 66px;
  margin-top: 10px;
}
/* line 129, ../sass/index.scss */
.header .navbar-header a {
  margin-top: 12px;
  line-height: 0;
  color: #999999;
  border-radius: 2px;
}

/* line 138, ../sass/index.scss */
.test-contant {
  padding-top: 15px;
}

/* line 141, ../sass/index.scss */
.test-block, .test-block-admin {
  display: none;
}
/* line 143, ../sass/index.scss */
.test-block:first-of-type, .test-block-admin:first-of-type {
  display: block;
}

/* line 147, ../sass/index.scss */
.upperCase {
  text-transform: uppercase;
}

/* line 151, ../sass/index.scss */
.delete-modal, .completion-modal {
  text-align: left;
  padding: 19% 32% 103px 34%;
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.45);
  margin-right: -100px;
  margin-bottom: -20px;
  display: block;
  overflow: hidden;
  opacity: 1;
}
/* line 165, ../sass/index.scss */
.delete-modal h1, .completion-modal h1 {
  font-size: 48px;
  text-transform: uppercase;
}
/* line 169, ../sass/index.scss */
.delete-modal p, .completion-modal p {
  font-size: 20px;
  margin-bottom: 30px;
}
/* line 173, ../sass/index.scss */
.delete-modal input, .completion-modal input {
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  background: none;
  border: 2px solid;
  width: 158px;
  height: 42px;
  margin-right: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}
/* line 183, ../sass/index.scss */
.delete-modal input:hover, .completion-modal input:hover {
  background: rgba(49, 41, 39, 0.5);
}
/* line 188, ../sass/index.scss */
.delete-modal .delete-button:hover, .delete-modal .completion-button:hover, .completion-modal .delete-button:hover, .completion-modal .completion-button:hover {
  border: 2px solid #ff6666;
  color: #ff6666;
}
/* line 192, ../sass/index.scss */
.delete-modal .delete-button:active, .delete-modal .completion-button:active, .completion-modal .delete-button:active, .completion-modal .completion-button:active {
  color: #ffffff;
  border-color: #ff6666;
  background: rgba(255, 102, 102, 0.5);
  box-shadow: inset 0 0 15px rgba(49, 41, 39, 0.4);
  outline: none;
}
